header {
  float: left;
  width: 100%;
  height: 2.40000384rem;
  background: #ffffff;
  margin-bottom: 0.48000077rem;
  padding: 0 0.48000077rem;
  line-height: 2.40000384rem;
  font-size: 0.76800123rem;
  border-bottom: 1px solid #e6e6e6;
}
.head-lef {
  float: left;
}
.head-rig {
  float: right;
}
.con-neir {
  float: left;
  width: 100%;
  height: 100%;
  background: #ffffff;
  padding: 0 0.48000077rem;
}
.con-head {
  float: left;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #e6e6e6;
}
.hea-biaq {
  float: left;
  line-height: 3.12000499rem;
}
.hea-big {
  float: left;
  padding: 0 0.24000038rem;
  font-size: 0.67200108rem;
  height: 1.20000192rem;
  border: 1px solid #666666;
  border-radius: 0;
  line-height: 1.20000192rem;
  text-align: center;
  margin: 0.96000154rem 0 0 0.86400138rem;
}
.hea-color {
  color: #ffffff;
  background-color: #02b300;
  border: none;
}
.shur {
  float: left;
  width: 100%;
  font-size: 0.76800123rem;
  height: 4.32000691rem;
  padding: 0.48000077rem;
  border-radius: 0;
  resize: none;
  border-top: 1px solid #e6e6e6;
  border-bottom: none;
  border-left: none;
  border-right: none;
}
.ner-img {
  float: left;
  width: 100%;
  height: auto;
  font-size: 1.92000307rem;
}
.img-con {
  float: left;
  position: relative;
  margin: 0.24000038rem 0.43200069rem 0 0;
  width: 5.18400829rem;
  height: 5.18400829rem;
}
.img-con > img {
  float: left;
  width: 100%;
  height: 100%;
}
.imgcon-cha {
  position: absolute;
  top: 0.24000038rem;
  right: 0.24000038rem;
  height: 0.81600131rem;
  background: url("http://procctech.oss-cn-shanghai.aliyuncs.com/images/icon1.png") #666666 -8.56801371rem 0.14400023rem;
  background-size: 12.0000192rem;
  width: 0.81600131rem;
  border-radius: 50%;
}
.g-con {
  position: relative;
  float: left;
  width: 5.18400829rem;
  height: 5.18400829rem;
  text-align: center;
  line-height: 5.18400829rem;
  margin-top: 0.24000038rem;
  color: #999999;
  border: 1px solid #999999;
}
.g-con > span {
  margin: auto;
  position: absolute;
  width: 2.16000346rem;
  height: 2.16000346rem;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url("http://procctech.oss-cn-shanghai.aliyuncs.com/images/icon1.png") 0 -2.49600399rem;
  background-size: 12.0000192rem;
}
.pzsx {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 3;
  opacity: 0;
}
.swiper-container {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #000;
}
.swiper-pagination {
  color: #FFFFFF;
}
.swiper-slide > img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  margin: auto;
}
.head-haz {
  float: right;
  margin-bottom: 0.48000077rem;
  width: 13.20002112rem;
}
