@body:#02b300;
@back:#ffffff;
@rem:41.6666rem;
textarea{
  float: left;
  width: 710/@rem;
  margin: 0 20/@rem 10/@rem 20/@rem;
  height: 322/@rem;
  resize: none;
  font-size: 28/@rem;
  padding: 40/@rem 20/@rem;
  border:none;
}
input{
  width: 710/@rem;
  float: left;
  height: 98/@rem;
  background: @body;
  color: @back;
  font-size: 34/@rem;
  border:none;
  border-radius: 8/@rem;
  margin: 0 20/@rem;
}
.tongj{
  float: left;
  width: 100%;
  text-align: right;
  line-height: 50/@rem;
  height:50/@rem;
  padding:0 20/@rem;
  margin-bottom: 30/@rem;
}
.back-color{
  color: #777777;
}










