header {
  float: left;
  width: 100%;
  position: relative;
  border-bottom: 1px solid #e6e6e6;
  height: 2.49600399rem;
}
.head {
  float: left;
  width: 18%;
  text-align: center;
  line-height: 2.49600399rem;
  font-size: 0.76800123rem;
}
.byy {
  float: left;
  width: 23%;
  line-height: 2.49600399rem;
  font-size: 0.76800123rem;
  text-align: center;
}
.ead-back {
  color: #02b300;
}
.xiah {
  position: absolute;
  width: 18%;
  height: 0.09600015rem;
  left: 0;
  bottom: 0;
  background: #02b300;
}
.content {
  float: left;
  width: 100%;
  background: #ffffff;
  height: auto;
}
.cont-baby {
  padding-bottom: 0.96000154rem;
  float: left;
  width: 100%;
  height: auto;
}
.cont-baby > a {
  float: left;
  width: 100%;
  padding: 0.96000154rem 0 0 0;
}
.bady-lef {
  float: left;
  width: 50%;
  height: 4.80000768rem;
}
.baby-rig {
  float: left;
  width: 50%;
  height: 4.80000768rem;
  padding: 0 0.48000077rem;
}
.hea {
  float: left;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.rig-h {
  margin-top: 0.09600015rem;
}
.rig-heada {
  font-size: 0.76800123rem;
}
.rig-name {
  color: #777777;
}
.rig-mon {
  color: #444444;
}
.rig-dingz {
  width: 50%;
  color: #02b300;
}
.rig-ha {
  width: 50%;
  text-align: right;
  color: #87c88b;
}
.ig-din {
  width: 50%;
  color: #999999;
}
.rig {
  margin-top: 0.28800046rem;
}
.cont-crafts {
  float: left;
  width: 100%;
  height: auto;
}
.cont-crafts a {
  float: left;
  width: 100%;
  height: 3.84000614rem;
}
.croa-img {
  float: left;
  width: 1.92000307rem;
  height: 1.92000307rem;
  border-radius: 50%;
  margin: 0.96000154rem 0 0 0.48000077rem;
}
.croa-ricon {
  float: left;
  width: 15.60002496rem;
  height: 100%;
  border-bottom: 1px solid #e6e6e6;
  padding: 0 0.48000077rem;
}
.ricon-name {
  float: left;
  width: 50%;
  font-size: 0.76800123rem;
  margin-top: 0.81600131rem;
}
.ricon {
  height: 100%;
  width: 4.80000768rem;
  float: right;
  margin-top: 0;
  line-height: 3.84000614rem;
}
.ricon-zuop {
  float: left;
  width: 8.16001306rem;
  margin-top: 0.14400023rem;
}
.ricon-zuop p {
  float: left;
}
.zuop-mat {
  color: #777777;
}
.zuop-shxi {
  color: #02b300;
  margin-left: 0.86400138rem;
}
.hong-xin {
  float: left;
  width: 0.24000038rem;
  height: 0.24000038rem;
  border-radius: 1.20000192rem;
  margin: 0.38400061rem 0.57600092rem 0 0;
  background: #bb1e27;
}
.cont-custo {
  float: left;
  background: #ffffff;
  width: 100%;
  height: auto;
}
.cont-custo > a {
  float: left;
  width: 100%;
  padding: 0.96000154rem 0.48000077rem;
  border-bottom: 1px solid #e6e6e6;
}
.cus-con {
  float: left;
  width: 100%;
  height: 1.4400023rem;
}
.custo-toux {
  float: left;
  width: 1.4400023rem;
  height: 1.4400023rem;
  border-radius: 50%;
}
.con-name {
  float: left;
  font-weight: 300;
  color: #444444;
  font-size: 0.76800123rem;
  margin: 0.19200031rem 0 0 0.48000077rem;
}
.cus-cont {
  float: left;
  width: 100%;
  height: 4.32000691rem;
  margin-top: 0.48000077rem;
}
.cont-img {
  float: left;
  width: 6.48001037rem;
  height: 4.32000691rem;
}
.cucon-rig {
  float: left;
  width: 10.5600169rem;
  padding: 0 0.48000077rem;
  height: 100%;
}
.rig-head {
  float: left;
  height: 2.25600361rem;
  width: 100%;
  font-weight: 300;
  color: #333;
  font-size: 0.76800123rem;
}
.label {
  float: left;
  margin: 0.09600015rem 0.57600092rem 0 0;
  color: #777;
}
.cus-hea {
  float: right;
  margin-top: 0.09600015rem;
  width: 100%;
}
