header {
  float: left;
  padding: 0 0.48000077rem;
  height: 2.6880043rem;
  background: #ffffff;
  line-height: 2.78400445rem;
  width: 100%;
  font-size: 0.76800123rem;
}
.hdead {
  float: left;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #e6e6e6;
}
.head-lef {
  float: left;
  width: 0.09600015rem;
  height: 0.81600131rem;
  background: #02b300;
  margin-top: 0.96000154rem;
}
.head-tuij {
  float: left;
  margin-left: 0.48000077rem;
  color: #02b300;
}
.content {
  float: left;
  width: 100%;
  height: auto;
}
.con-bin {
  float: left;
  width: 100%;
  padding: 0 0.48000077rem;
  height: auto;
  background: #ffffff;
}
.zhongs {
  float: left;
  width: 50%;
  margin-top: 0.81600131rem;
  font-size: 0.76800123rem;
}
.wenh {
  float: right;
  width: 0.81600131rem;
  height: 0.81600131rem;
  background: url("http://procctech.oss-cn-shanghai.aliyuncs.com/images/icon.png") -5.42400868rem -0.04800008rem;
  background-size: 19.08003053rem;
  margin-top: 0.96000154rem;
}
.cankj {
  float: left;
  width: 100%;
  margin-top: 0.81600131rem;
}
.conbt-con {
  float: left;
  margin-top: 0.81600131rem;
  color: #666666;
}
.bianqia {
  float: left;
  width: 100%;
  height: 2.54400407rem;
  margin-top: 0.86400138rem;
  color: #666666;
  line-height: 2.54400407rem;
  padding-left: 0.48000077rem;
  border-top: 1px solid #e6e6e6;
}
.bianqia > p {
  float: left;
  margin-right: 0.96000154rem;
}
.con-img {
  float: left;
  width: 100%;
  height: auto;
  padding: 0 0.48000077rem;
}
.con-img > img {
  width: 100%;
  float: left;
  margin-top: 0.48000077rem;
}
.foor {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 2.40000384rem;
  width: 100%;
  background: #ffffff;
}
.foor p {
  float: left;
  width: 50%;
  height: 100%;
  font-size: 0.76800123rem;
  text-align: center;
  line-height: 2.40000384rem;
}
.foor-rig {
  color: #ffffff;
  background: #02b300;
}
